#window {
    background: transparent;
}

#box, .wrapper {
    background-color: #1f1f28; /* Kanagawa Background */
    border: 2px solid #7e9cd8;
    border-radius: 16px;
    overflow: hidden; 
    margin: 10px;
}

#search, #input {
    border-radius: 8px;
    background: #16161d;
    outline: none;
}
